name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_windows:
    name: Build on Windows

    runs-on: windows-latest

    env:
      SolutionPath: Android.sln
      Configuration: Release

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          submodules: 'recursive'

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.0.0

      - name: Restore
        run: msbuild $env:SolutionPath /t:Restore /p:Configuration=$env:Configuration

      - name: Build
        run: msbuild $env:SolutionPath /v:d /t:Rebuild /p:Configuration=$env:Configuration 

  build_ubuntu:
    name: Build on Ubuntu

    runs-on: ubuntu-latest

    env:
      SolutionPath: Android.sln
      Configuration: Release

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          submodules: 'recursive'

      - name: Restore
        run: msbuild $env:SolutionPath /t:Restore /p:Configuration=$env:Configuration

      - name: Build
        run: msbuild $env:SolutionPath /v:d /t:Rebuild /p:Configuration=$env:Configuration 

  build_macos:
    name: Build on macOS

    runs-on: macos-latest

    env:
      SolutionPath: Android.sln
      Configuration: Release

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          submodules: 'recursive'

      - name: Restore
        run: msbuild $env:SolutionPath /t:Restore /p:Configuration=$env:Configuration

      - name: Build
        run: msbuild $env:SolutionPath /v:d /t:Rebuild /p:Configuration=$env:Configuration 
